<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header text-center bg-primary text-white">
            <h4>Вход в систему</h4>
          </div>
          <div class="card-footer text-muted text-center">
            <small>Логин: admin, пароль: password</small>
          </div>
          <div class="card-body">
            <form @submit.prevent="handleLogin">
              <!-- Поле для логина -->
              <div class="mb-3">
                <label for="username" class="form-label">Логин</label>
                <input
                    type="text"
                    id="username"
                    class="form-control"
                    v-model="username"
                    placeholder="Введите логин"
                    required
                />
              </div>

              <!-- Поле для пароля -->
              <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    v-model="password"
                    placeholder="Введите пароль"
                    required
                />
              </div>

              <!-- Кнопка входа -->
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Войти</button>
              </div>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            <small>Если у вас нет аккаунта, обратитесь к администратору</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import authService from '@/services/authService';

// Локальные состояния
const username = ref('');
const password = ref('');
const router = useRouter();

// Обработчик логина
const handleLogin = () => {
  // Пример проверки логина и пароля
  if (username.value === 'admin' && password.value === 'password') {
    authService.login(); // Авторизуем пользователя через сервис
    router.push({ name: 'add_product' }); // Перенаправляем на защищенную страницу
  } else {
    alert('Неверный логин или пароль'); // Обработка ошибки
  }
};
</script>

<style scoped>
.card {
  border-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
</style>
