<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <router-link class="navbar-brand" to="/">На главную</router-link>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item"><router-link class="nav-link active" to="/">На главную</router-link></li>
            <li class="nav-item"><router-link class="nav-link" to="/about">О проекте</router-link></li>
            <li class="nav-item dropdown">
              <router-link class="nav-link dropdown-toggle" id="navbarDropdown" to="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">Каталог</router-link>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><router-link class="dropdown-item" to="/products">Все продукты</router-link></li>
                <li>
                  <hr class="dropdown-divider"/>
                </li>
                <li><router-link class="dropdown-item" to="/popular">Популярные</router-link></li>
                <li><router-link class="dropdown-item" to="/new">Новые поступления</router-link></li>
                <hr class="dropdown-divider"/>
                <li><router-link class="dropdown-item" :to="{ name: 'add_product'}">Добавить товар</router-link></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <UserStatus />
            <!-- Используем компонент CartButton -->
            <CartButton :itemCount="itemCount" />
            <button class="btn btn-outline-secondary ms-2" type="button" @click="toggleSearch">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div v-if="showSearch" class="search-container">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." v-model="searchQuery" />
        <button class="btn btn-outline-primary" type="button" @click="performSearch">
          <i class="bi bi-search"></i>
        </button>
        <button class="btn btn-outline-secondary" type="button" @click="resetSearch">
          <i class="bi bi-x"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import CartButton from './catalog/CartButton.vue';
import UserStatus from '@/components/UserStatus.vue';

const props = defineProps({
  itemCount: {
    type: Number,
    required: true,
    default: 0
  }
});

const emit = defineEmits(['search']);
const showSearch = ref(false);
const searchQuery = ref('');
const router = useRouter();

const toggleSearch = () => {
  showSearch.value = !showSearch.value;
};

const performSearch = () => {
  emit('search', searchQuery.value);
  router.push({ name: 'home', query: { search: searchQuery.value } });
};

const resetSearch = () => {
  searchQuery.value = '';
  emit('search', '');
  router.push({ name: 'home' });
};
</script>

<style scoped>
.search-container {
  width: 100%;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.input-group {
  display: flex;
  width: 100%;
}
</style>
