<template>
  <div >
    <span v-if="isAuthenticated">
      Привет, {{ username }}!
      <button @click="logout">Выйти</button>
    </span>
    <router-link v-else to="/login">Войти</router-link>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useUserStore } from '@/stores/userStore';
import { useRouter } from 'vue-router';

// Используем хранилище и роутер
const userStore = useUserStore();
const router = useRouter();

// Вычисляемые свойства для проверки авторизации и получения имени пользователя
const isAuthenticated = computed(() => userStore.isAuthenticated);
const username = computed(() => userStore.username);

// Функция для выхода
const logout = () => {
  userStore.logout();
  router.push({ name: 'login' }); // Перенаправляем на страницу логина после выхода
};
</script>

<style scoped>
/* Добавьте стили по желанию */
button {
  margin-left: 10px;
  border:none;
  background: none;
  color: red;
}

div {
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
</style>