<template>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="col-lg-8 mb-4 mt-4">
      <h2>Добавить товар</h2>
      <Form @submit="onSubmit">
        <!-- Поля для ввода данных товара -->
        <div class="mb-3">
          <label for="title" class="form-label">Название товара</label>
          <Field class="form-control" name="title" type="text" :rules="validateTitle" />
          <ErrorMessage name="title" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Цена</label>
          <Field class="form-control" name="price" type="number" :rules="validatePrice" />
          <ErrorMessage name="price" />
        </div>
        <div class="mb-3">
          <label for="oldPrice" class="form-label">Зачеркнтуная Цена</label>
          <Field class="form-control" name="oldPrice" type="number" :rules="validatePrice" />
          <ErrorMessage name="oldPrice" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Изображение URL</label>
          <Field class="form-control" name="image" type="text" :rules="validateImage" />
          <ErrorMessage name="image" />
        </div>

        <!-- Кнопка отправки формы -->
        <button type="submit" class="btn btn-primary">Добавить товар</button>
      </Form>
    </div>
  </div>
</template>

<script setup>
import { reactive } from 'vue';
import { useRouter } from 'vue-router';
import { Form, Field, ErrorMessage } from 'vee-validate';
import { addProduct, generateNewId } from '@/services/productService.js';

const router = useRouter();

const formData = reactive({
  title: '',
  price: 0,
  oldPrice: 0,
  category: '',
  image: '',
});

const validateTitle = (value) => {
  if (!value) {
    return 'Поле Название товара обязательно для заполнения';
  }
  return true;
};

const validatePrice = (value) => {
  if (!value) {
    return 'Поле Цена обязательно для заполнения';
  }
  if (value <= 0) {
    return 'Цена должна быть больше нуля';
  }
  return true;
};


const validateImage = (value) => {
  if (!value) {
    return 'Поле Изображение URL обязательно для заполнения';
  }

  // Регулярное выражение для проверки URL изображения
  const imageUrlRegex = /(https?:\/\/.*\.(?:png|jpg|jpeg|gif))/i;

  if (!imageUrlRegex.test(value)) {
    return 'Пожалуйста, введите действительный URL изображения (допустимые расширения: .png, .jpg, .jpeg, .gif)';
  }

  return true;
};

const onSubmit = async (values) => {
  try {
    const newProduct = {
      ...values,
      id: generateNewId(),
      rating: Math.random() * 5
    };

    await addProduct(newProduct);
    alert('Товар успешно добавлен!');
    router.push('/');
  } catch (error) {
    console.error('Произошла ошибка при добавлении товара:', error);
    alert('Произошла ошибка при добавлении товара. Пожалуйста, попробуйте еще раз.');
  }
};
</script>

<style scoped>
span[role="alert"] {
  color: red;
  display: block;
}
label {
  font-weight: bold;
}
</style>
