<template>
  <router-link to="/cart" class="btn btn-outline-dark">
    <i class="bi-cart-fill me-1"></i>
    Корзина
    <span class="badge bg-dark text-white ms-1 rounded-pill">{{ itemCount }}</span>
  </router-link>
</template>

<script setup>
import { computed } from 'vue';
import cartService from '@/services/cart/cartService';

// Получаем количество товаров в корзине через computed
const itemCount = computed(() => cartService.getCartItemCount()); // Добавлено .value для извлечения значения
</script>

<style scoped>
.badge {
  font-size: 0.9rem;
}
</style>
