<template>
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <!-- Показываем спиннер при загрузке -->
      <div v-if="isLoading" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div v-else>
        <!-- Если товаров нет -->
        <div v-if="products.length === 0" class="text-center">
          <p>Ничего не найдено</p>
        </div>
        <!-- Отображение товаров -->
        <div v-else class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" v-for="product in products" :key="product.id">
            <CatalogItem
                :id="product.id"
                :isOnSale="product.isOnSale"
                :image="product.image"
                :title="product.title"
                :oldPrice="product.oldPrice"
                :price="product.price"
                :rating="product.rating"
                :buttonText="getCountInCart(product.id)"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import CatalogItem from './CatalogItem.vue';
import cartService from '@/services/cart/cartService';

// Пропсы
const props = defineProps({
  products: {
    type: Array,
    required: true,
  },
  isLoading: {
    type: Boolean,
    required: true,
  },
});

// Реактивное количество товаров в корзине
const cartItems = ref([]);

// Обновление списка товаров в корзине
const updateCartItems = () => {
  const items = cartService.getCartItems().value;
  cartItems.value = Array.isArray(items) ? items : [];
};

// Получение информации о количестве товара в корзине
const getCountInCart = (productId) => {
  const productInCart = cartItems.value.find(item => item.id === productId);
  const count = productInCart ? productInCart.quantity : 0;
  return count === 0 ? 'В корзину' : `В корзине (${count})`;
};

// Подписываемся на обновления корзины
onMounted(() => {
  updateCartItems();
});

</script>

<style>
.spinner-border {
  width: 3rem;
  height: 3rem;
  margin: auto;
}
</style>
