<template>
  <div class="card h-100">
    <div v-if="isOnSale" class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    <img class="card-img-top" :src="image" :alt="title" />
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Заголовок с ссылкой на детальную страницу -->
        <router-link :to="{ name: 'product_detail', params: { id: id } }" class="text-decoration-none">
          <h5 class="fw-bolder">{{ title }}</h5>
        </router-link>
        <ItemRating :stars="rating ? rating.rate : 0" />
        <div v-if="oldPrice" class="text-muted text-decoration-line-through">{{ `$${oldPrice}` }}</div>
        <div>{{ `$${price}` }}</div>
      </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <button
            class="btn btn-outline-dark mt-auto"
            @click="handleAddToCart"
            :disabled="isAdded"
        >
          {{ isAdded ? 'Добавлено' : buttonText }}
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import ItemRating from './ItemRating.vue';
import { ref } from 'vue';
import { defineProps} from 'vue';
import cartService from '@/services/cart/cartService';

const props = defineProps({
  id: {
    type: Number,
    required: true
  },
  isOnSale: {
    type: Boolean,
    default: false
  },
  image: {
    type: String,
    default: '/img/no-photo.jpg'
  },
  title: {
    type: String,
    required: true
  },
  oldPrice: {
    type: Number,
    default: null
  },
  price: {
    type: Number,
    required: true
  },
  rating: {
    type: Object,
    default: () => ({ rate: 0 })
  },
  buttonText: {
    type: String,
    default: 'В корзину'
  }
});


// Локальное состояние, которое указывает, добавлен ли товар
const isAdded = ref(false);

// Обработчик добавления в корзину
const handleAddToCart = () => {
  cartService.addToCart({ id: props.id, title: props.title, price: props.price, quantity: 1 });
  isAdded.value = true;
  // Сбрасываем состояние "Добавлено" через 3 секунды
  setTimeout(() => {
    isAdded.value = false;
  }, 3000);
};
</script>

<style scoped>
.card-img-top {
  height: 200px;
  object-fit: contain;
}
</style>
