<template>
  <header class="bg-dark py-2">
    <div class="container px-4 px-lg-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder" v-if="product">{{ product.title }}</h1>
        <h1 class="display-4 fw-bolder" v-else>Загрузка продукта...</h1> <!-- Показать текст до загрузки продукта -->
      </div>
    </div>
  </header>
  <div class="product-detail container mt-4 pb-4" v-if="product">
    <div class="row">
      <div class="col-md-6">
        <img :src="product.image" :alt="product.title" class="img-fluid" />
      </div>
      <div class="col-md-6">
        <h1>{{ product.title }}</h1>
        <p class="text-muted">{{ product.category }}</p>
        <p>{{ product.description }}</p>
        <div v-if="product.isOnSale">
          <span class="text-muted text-decoration-line-through">{{ `$${product.oldPrice}` }}</span>
          <span class="ms-2 fw-bold">{{ `$${product.price}` }}</span>
        </div>
        <div v-else>
          <span class="fw-bold">{{ `$${product.price}` }}</span>
        </div>
        <ItemRating v-if="product.rating" :stars="product.rating" />
        <button
            class="btn btn-outline-primary mt-3"
            @click="handleAddToCart"
            :disabled="isAdded"
        >
          {{ isAdded ? 'Добавлено' : 'Добавить в корзину' }}
        </button>
      </div>
    </div>
  </div>
  <div v-else class="text-center mt-5">
    <p>Загрузка продукта...</p>
  </div>
</template>

<script setup>
import { defineProps, ref, onMounted } from 'vue';
import { getProductById } from '@/services/productService.js';
import ItemRating from '@/components/catalog/ItemRating.vue';
import cartService from '@/services/cart/cartService';
import { useProductStore } from '@/stores/productStore';

const props = defineProps({
  productId: {
    type: Number,
    required: true,
  },
  cart: {
    type: Array,
    default: () => [],
  },
});

const productStore = useProductStore();

// Состояние для текущего продукта
const product = ref(null);

// Флаг для отслеживания, добавлен ли товар в корзину
const isAdded = ref(false);

const handleAddToCart = (product) => {
  cartService.addToCart({ id: product.id, title: product.title, price: product.price, quantity: 1 });
  isAdded.value = true; // Обновляем локальный флаг
};

// Загружаем данные о продукте
onMounted(async () => {
  try {
    await productStore.fetchProducts(); // Загружаем товары, если их нет в хранилище
    product.value = productStore.getProductById(props.productId);
    // Проверяем, есть ли товар уже в корзине
    const items = cartService.getCartItems().value;
    isAdded.value = !!items.find((item) => item.id === product.value.id);
  } catch (error) {
    console.error('Ошибка загрузки продукта:', error);
  }
});
</script>

<style scoped>
.product-detail {
  max-width: 800px;
}
header h1 {
  font-size: 2rem;
}
</style>
