<template>
  <Navigation @search="handleSearch" />
  <Header v-if="!isSearching" />
  <router-view :products="filteredProducts" :isLoading="isLoading" />
  <Footer />
</template>

<script setup>
import './assets/styles.css';
import {ref, watch, onMounted} from 'vue';
import {useRoute} from 'vue-router';
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import Navigation from "@/components/Navigation.vue";
import {fetchProducts, filterProducts} from '@/services/productService';

const products = ref([]);
const filteredProducts = ref([]);
const isLoading = ref(true);
const searchQuery = ref('');
const isSearching = ref(false);
const route = useRoute();

const loadProducts = async () => {
  try {
    const data = await fetchProducts();
    products.value = data;
    filteredProducts.value = filterProducts(data, route.query.search || '');
  } catch (error) {
    console.error('Failed to fetch products:', error);
  } finally {
    isLoading.value = false;
  }
};

const handleSearch = (query) => {
  searchQuery.value = query;
  isSearching.value = !!query;
};

watch(searchQuery, (newQuery) => {
  filteredProducts.value = filterProducts(products.value, newQuery);
  isSearching.value = !!newQuery;
});

watch(
    () => route.query.search,
    (newSearch) => {
      searchQuery.value = newSearch || '';
      isSearching.value = !!newSearch;
    }
);

onMounted(loadProducts);
</script>
