<template>
  <section>
    <div class="container px-4 px-lg-5 my-5">
      <p class="lead fw-normal text-white-50 mb-0">Демонстрационный магазин</p>
      <p>Учебный проект Демо-Магазина</p>
      <p>Курс: Vue.js разработчик</p>
    </div>
  </section>
</template>

<script setup>
</script>

<style scoped>
</style>
