<template>
  <Navigation
      @search="handleSearch"
      :itemCount="cartItemCount"
  />
  <Header v-if="!isSearching && isHomePage" />
  <HeaderH1 :title="route.meta.title" />
  <router-view
      :products="filteredProducts"
      :isLoading="isLoading"
      :cart="cart"
      @add-to-cart="addToCart"
      @update-cart="handleUpdateCart"
      @remove-item="handleRemoveItem"
  />
  <Footer />
</template>

<script setup>
import './assets/styles.css';
import { ref, watch, onMounted, computed } from 'vue';
import { useRoute } from 'vue-router';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import Navigation from '@/components/Navigation.vue';
import HeaderH1 from "@/components/content/HeaderH1.vue";
import { fetchProducts, filterProducts } from '@/services/productService';
import router from "@/router/index.js";


const products = ref([]); // Полный список товаров
const filteredProducts = ref([]); // Отфильтрованные товары для отображения
const isLoading = ref(true); // Состояние загрузки
const searchQuery = ref(''); // Текущий поисковый запрос
const isSearching = ref(false); // Флаг отображения поисковой панели
const cart = ref([]); // Список товаров в корзине
const route = useRoute();

// Определяем, является ли текущий путь главной страницей
const isHomePage = computed(() => router.currentRoute.value.path === '/');
// Мета-заголовок
ref(route.meta.title || '');

const loadProducts = async () => {
  try {
    const data = await fetchProducts(); // Получение списка товаров
    products.value = data;
    filteredProducts.value = filterProducts(data, route.query.search || '');
  } catch (error) {
    console.error('Failed to fetch products:', error);
  } finally {
    isLoading.value = false;
  }
};

// Обработчик поиска
const handleSearch = (query) => {
  searchQuery.value = query;
  isSearching.value = !!query;
};

// Добавление товара в корзину
const addToCart = (product) => {
  const existingProduct = cart.value.find((item) => item.id === product.id);
  if (existingProduct) {
    existingProduct.quantity += 1; // Увеличиваем количество, если товар уже в корзине
  } else {
    cart.value.push({ ...product, quantity: 1 }); // Добавляем новый товар с количеством 1
  }
};

const handleUpdateCart = ({ id, quantity }) => {
  const product = cart.value.find(item => item.id === id);
  if (product) {
    product.quantity = quantity;
  }
};

const handleRemoveItem = (id) => {
  cart.value = cart.value.filter(item => item.id !== id);
};

// Количество товаров в корзине
const cartItemCount = computed(() =>
    cart.value.reduce((total, item) => total + item.quantity, 0)
);

// Наблюдение за изменением поискового запроса
watch(searchQuery, (newQuery) => {
  filteredProducts.value = filterProducts(products.value, newQuery);
  isSearching.value = !!newQuery;
});

// Наблюдение за изменением параметра `search` в URL
watch(
    () => route.query.search,
    (newSearch) => {
      searchQuery.value = newSearch || '';
      isSearching.value = !!newSearch;
    }
);

onMounted(() => {
  // Загрузка данных при монтировании
  loadProducts();
});
</script>
