<template>
    <div class="card h-100">
      <div v-if="isOnSale" class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
      <img class="card-img-top" :src="image" :alt="title" />
      <div class="card-body p-4">
        <div class="text-center">
          <h5 class="fw-bolder">{{ title }}</h5>
          <ItemRating :stars="rating.rate" />
          <div v-if="oldPrice" class="text-muted text-decoration-line-through">{{ `$${oldPrice}` }}</div>
          <div>{{ `$${price}` }}</div>
        </div>
      </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">{{ buttonText }}</a></div>
      </div>
    </div>
  </template>
  
  <script setup>
  import ItemRating from './ItemRating.vue';
  import { defineProps } from 'vue';
  
  const props = defineProps({
    isOnSale: {
      type: Boolean,
      default: false
    },
    image: {
      type: String,
      default: '/img/no-photo.jpg'
    },
    title: {
      type: String,
    },
    oldPrice: {
      type: Number,
    },
    price: {
      type: Number,
    },
    rating: {
      type: Object,
      default: () => ({ rate: 5 })
    },
    buttonText: {
      type: String,
      default: 'В корзину'
    }
  });
  </script>
  
  <style scoped>
  .card-img-top {
    height: 200px;
    object-fit: contain;
  }
  </style>
  