<template>
    <div class="d-flex justify-content-center small text-warning mb-2">
      <div v-for="n in stars" :key="n" class="bi-star-fill"></div>
    </div>
 </template>
  
<script setup>
import { defineProps } from 'vue';
  const props = defineProps({
    stars: {
      type: Number,
      default: 5
    }
  });
 </script>
  