<template>
  <div class="container mt-4 pb-4">
    <!-- Список товаров -->
    <div v-if="cart.length > 0" class="list-group">
      <div
          v-for="(item, index) in cart"
          :key="index"
          class="list-group-item d-flex justify-content-between align-items-center"
      >
        <!-- Информация о товаре -->
        <div class="col-7 align-items-center">
          <img
              :src="item.image || '/img/no-photo.jpg'"
              alt="Product Image"
              class="img-thumbnail me-3"
              style="width: 80px; height: 80px; object-fit: contain;"
          />
          <div>
            <h5 class="mb-1">{{ item.title }}</h5>
            <p class="mb-0">Цена: ${{ item.price }}</p>
          </div>
        </div>

        <!-- Управление количеством -->
        <div class="col-4">
          <div class="d-flex align-items-center">
            <button
                class="btn btn-outline-secondary btn-sm"
                @click="updateQuantity(item.id, item.quantity - 1)"
                :disabled="item.quantity <= 1"
            >
              -
            </button>
            <div class="col-1 align-content-center item-quantity">{{ item.quantity }}</div>
            <button
                class="btn btn-outline-secondary btn-sm"
                @click="updateQuantity(item.id, item.quantity + 1)"
            >
              +
            </button>
          </div>
        </div>

        <!-- Удалить -->
        <button
            class="btn btn-danger btn-sm"
            @click="removeFromCart(item.id)"
        >
          Удалить
        </button>
      </div>
    </div>

    <!-- Пустая корзина -->
    <p v-else class="text-muted">Корзина пуста</p>

    <!-- Итоговая стоимость -->
    <div v-if="cart.length > 0" class="mt-4">
      <h4>Итоговая стоимость: <span class="text-primary">${{ totalPrice }}</span></h4>
      <router-link class="btn btn-success" to="/order">Оформить заказ</router-link>
    </div>
  </div>
</template>

<script setup>
import { computed } from "vue";
import cartService from "@/services/cart/cartService";

// Используем реактивную переменную из cartService напрямую
const cart = computed(() => cartService.getCartItems());

const updateQuantity = (id, quantity) => {
  cartService.updateQuantity(id, quantity);
};

const removeFromCart = (productId) => {
  cartService.removeFromCart(productId);
};

// Итоговая сумма корзины
const totalPrice = computed(() => {
  return cart.value.reduce((total, item) => total + item.price * item.quantity, 0).toFixed(2);
});
</script>

<style>
.item-quantity {
  text-align: center;
}
</style>
