<template>
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div v-if="isLoading" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div v-else>
        <div v-if="products.length === 0" class="text-center">
          <p>Ничего не найдено</p>
        </div>
        <div v-else class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" v-for="product in products" :key="product.id">
            <CatalogItem
                :isOnSale="product.isOnSale"
                :image="product.image"
                :title="product.title"
                :oldPrice="product.oldPrice"
                :price="product.price"
                :rating="product.rating"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import { defineProps } from 'vue';
import CatalogItem from './CatalogItem.vue';

const props = defineProps({
  products: {
    type: Array,
    required: true
  },
  isLoading: {
    type: Boolean,
    required: true
  }
});
</script>

<style>
.spinner-border {
  width: 3rem;
  height: 3rem;
  margin: auto;
}
</style>
