<script setup>

</script>

<template>
  <footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Pavel Shilyaev 2024</p></div>
  </footer>
</template>

<style scoped>

</style>