<script setup>

</script>

<template>
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Home Work 3</h1>
        <p class="lead fw-normal text-white-50 mb-0">Демонстрационный магазин</p>
      </div>
    </div>
  </header>
</template>

<style scoped>

</style>