<template>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="col-lg-8 mb-4 mt-4">
      <h2>Оформление заказа</h2>
      <Form @submit="onSubmit">
        <!-- Поля для ввода данных пользователя -->
        <div class="mb-3">
          <label for="fullName" class="form-label">ФИО</label>
          <Field class="form-control" name="fullName" type="text" :rules="validateFullName" />
          <ErrorMessage name="fullName" />
        </div>
        <div class="mb-3">
          <label for="birthdate" class="form-label">Дата рождения</label>
          <Field class="form-control" name="birthdate" type="date" :rules="validateBirthdate" />
          <ErrorMessage name="birthdate" />
        </div>

        <!-- Поля для ввода адреса -->
        <div class="mb-3">
          <label for="city" class="form-label">Город</label>
          <Field class="form-control" name="city" type="text" :rules="validateCity" />
          <ErrorMessage name="city" />
        </div>
        <div class="mb-3">
          <label for="street" class="form-label">Улица</label>
          <Field class="form-control" name="street" type="text" :rules="validateStreet" />
          <ErrorMessage name="street" />
        </div>
        <div class="mb-3">
          <label for="house" class="form-label">Дом</label>
          <Field class="form-control" name="house" type="text" :rules="validateHouse" />
          <ErrorMessage name="house" />
        </div>

        <!-- Поля для ввода данных карточки для оплаты -->
        <div class="mb-3">
          <label for="cardNumber" class="form-label">Номер карточки</label>
          <Field class="form-control" name="cardNumber" type="text" :rules="validateCardNumber" />
          <ErrorMessage name="cardNumber" />
        </div>
        <div class="mb-3">
          <label for="expiryDate" class="form-label">Срок действия (MM/YY)</label>
          <Field class="form-control" name="expiryDate" type="text" :rules="validateExpiryDate" />
          <ErrorMessage name="expiryDate" />
        </div>
        <div class="mb-3">
          <label for="cvv" class="form-label">CVV</label>
          <Field class="form-control" name="cvv" type="text" :rules="validateCvv" />
          <ErrorMessage name="cvv" />
        </div>

        <!-- Чекбокс для согласия с правилами -->
        <div class="mb-3 form-check">
          <label class="form-check-label" for="agree">Согласен с правилами обработки заказа</label>
          <Field type="checkbox" class="form-check-input" name="agree" :rules="validateAgree" />
          <ErrorMessage name="agree" />
        </div>

        <!-- Кнопка отправки формы -->
        <button type="submit" class="btn btn-primary">Оформить заказ</button>
      </Form>
    </div>
  </div>
</template>

<script setup>
import { reactive } from 'vue';
import { Form, Field, ErrorMessage } from 'vee-validate';
import { submitOrder } from '@/services/orderService';

const formData = reactive({
  fullName: '',
  birthdate: '',
  city: '',
  street: '',
  house: '',
  cardNumber: '',
  expiryDate: '',
  cvv: '',
  agree: false,
});

const validateFullName = (value) => {
  if (!value) {
    return 'Поле ФИО обязательно для заполнения';
  }
  const words = value.split(' ');
  if (words.length < 2) {
    return 'Поле ФИО должно содержать минимум фамилию и имя';
  }
  const russianLettersRegex = /^[а-яА-ЯёЁ\s]+$/;
  if (!russianLettersRegex.test(value)) {
    return 'Допускаются только русские буквы';
  }
  return true;
};

const validateBirthdate = (value) => {
  if (!value) {
    return 'Поле Дата рождения обязательно для заполнения';
  }
  return true;
};

const validateCity = (value) => {
  if (!value) {
    return 'Поле Город обязательно для заполнения';
  }
  return true;
};

const validateStreet = (value) => {
  if (!value) {
    return 'Поле Улица обязательно для заполнения';
  }
  return true;
};

const validateHouse = (value) => {
  if (!value) {
    return 'Поле Дом обязательно для заполнения';
  }
  return true;
};

const validateCardNumber = (value) => {
  if (!value) {
    return 'Поле Номер карточки обязательно для заполнения';
  }
  if (!/^\d{4} \d{4} \d{4} \d{4}$/.test(value)) {
    return 'Пожалуйста, введите номер карты в формате XXXX XXXX XXXX XXXX';
  }
  return true;
};

const validateExpiryDate = (value) => {
  if (!value) {
    return 'Поле Срок действия обязательно для заполнения';
  }
  if (!/^\d{2}\/\d{2}$/.test(value)) {
    return 'Срок действия карточки должен быть в формате MM/YY';
  }
  return true;
};

const validateCvv = (value) => {
  if (!value) {
    return 'Поле CVV обязательно для заполнения';
  }
  if (!/^\d{3}$/.test(value)) {
    return 'CVV должен содержать только три цифры';
  }
  return true;
};

const validateAgree = (value) => {
  if (!!value) {
    return 'Для продолжения необходимо согласиться с правилами обработки заказа';
  }
  return true;
};

const onSubmit = (values) => {
  submitOrder(values)
      .then(() => {
        alert('Ваш заказ успешно оформлен!');
        window.location.href = '/';
      })
      .catch((error) => {
        console.error('Произошла ошибка при оформлении заказа:', error);
        alert('Произошла ошибка при оформлении заказа. Пожалуйста, попробуйте еще раз.');
      });
};
</script>

<style scoped>
span[role="alert"] {
  color: red;
  display: block;
}
label {
  font-weight: bold;
}
</style>
