<script setup>
import { ref } from 'vue';

const password = ref('');
const length = ref(10);
const complexity = ref('medium');
const charSets = {
  simple: 'abcdefghijklmnopqrstuvwxyz',
  medium: 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',
  complex: 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+{}|:<>?-=[];.,'
};

const generatePassword = () => {
  const charset = charSets[complexity.value];
  let newPassword = '';
  for (let i = 0; i < length.value; i++) {
    newPassword += charset.charAt(Math.floor(Math.random() * charset.length));
  }
  password.value = newPassword;
};
</script>

<template>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Генерация пароля</div>
            <div class="card-body">
              <form @submit.prevent="generatePassword">
                <div class="mb-3">
                  <label for="length" class="form-label">Длина пароля</label>
                  <input type="number" class="form-control" id="length" v-model="length">
                </div>
                <div class="mb-3">
                  <label class="form-label">Сложность</label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="simple" v-model="complexity" id="simple">
                    <label class="form-check-label" for="simple">Простой</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="medium" v-model="complexity" id="medium" checked>
                    <label class="form-check-label" for="medium">Средний</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="complex" v-model="complexity" id="complex">
                    <label class="form-check-label" for="complex">Сложный</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Сгенерировать</button>
              </form>
              <div class="mt-3">
                <input type="text" class="form-control form-control-lg password-form" v-model="password" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

<style>
@import "bootstrap/dist/css/bootstrap.min.css";

.password-form {
  background-color: hsla(160, 100%, 37%, 1);
  font-size: 1.2rem; 
  border-radius: 0.2rem; 
  padding: 0.5rem; 
}

</style>
  