<template>
  <Navigation
      @search="handleSearch"
      :itemCount="cartItemCount"
  />
  <Header v-if="!isSearching && isHomePage" />
  <HeaderH1 :title="route.meta.title" />
  <router-view
      :products="filteredProducts"
      :isLoading="isLoading"
      :cart="cart"
  />
  <Footer />
</template>

<script setup>
import './assets/styles.css';
import { ref, watch, onMounted, computed } from 'vue';
import { useRoute } from 'vue-router';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import Navigation from '@/components/Navigation.vue';
import HeaderH1 from "@/components/content/HeaderH1.vue";
import { fetchProducts, filterProducts } from '@/services/productService';
import router from "@/router/index.js";
import cartService from "@/services/cart/cartService.js";
import {useProductStore} from "@/stores/productStore.js";

// Получаем данные из хранилища Pinia
const cart = computed(() => cartService.getCartItems()); // Данные корзины
const cartItemCount = computed(() => cartService.getCartItemCount);

const products = ref([]); // Полный список товаров
const filteredProducts = ref([]); // Отфильтрованные товары для отображения
const isLoading = ref(true); // Состояние загрузки
const searchQuery = ref(''); // Текущий поисковый запрос
const isSearching = ref(false); // Флаг отображения поисковой панели
const route = useRoute();

// Определяем, является ли текущий путь главной страницей
const isHomePage = computed(() => router.currentRoute.value.path === '/');
// Мета-заголовок
ref(route.meta.title || '');

const productStore = useProductStore();
const loadProducts = async () => {
  try {
    const data = await productStore.fetchProducts(); // Получение списка товаров
    products.value = data;
    filteredProducts.value = filterProducts(data, route.query.search || '');
  } catch (error) {
    console.error('Failed to fetch products:', error);
  } finally {
    isLoading.value = false;
  }
};

// Обработчик поиска
const handleSearch = (query) => {
  searchQuery.value = query;
  isSearching.value = !!query;
};

// Наблюдение за изменением поискового запроса
watch(searchQuery, (newQuery) => {
  filteredProducts.value = filterProducts(products.value, newQuery);
  isSearching.value = !!newQuery;
});

// Наблюдение за изменением параметра `search` в URL
watch(
    () => route.query.search,
    (newSearch) => {
      searchQuery.value = newSearch || '';
      isSearching.value = !!newSearch;
    }
);

onMounted(() => {
  // Загрузка данных при монтировании
  loadProducts();
});
</script>
