<script setup>
import { defineProps } from "vue";

// Определяем пропс title, теперь он необязателен
const props = defineProps({
  title: {
    type: String,
    required: false,  // Заголовок теперь необязателен
    default: ''       // Если заголовок не передан, по умолчанию будет пустая строка
  }
});
</script>

<template>
  <header v-if="title" class="bg-dark py-2">
    <div class="container px-4 px-lg-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">{{ title }}</h1>
      </div>
    </div>
  </header>
</template>

<style scoped>

</style>
