<template>
  <router-link to="/cart" class="btn btn-outline-dark">
    <i class="bi-cart-fill me-1"></i>
    Корзина
    <span class="badge bg-dark text-white ms-1 rounded-pill">{{ itemCount }}</span>
  </router-link>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import cartService from '@/services/cart/cartService';

const itemCount = ref(0);

// Функция для обновления количества товаров в корзине
const updateItemCount = () => {
  itemCount.value = cartService.getCartItemCount();
};

onMounted(() => {
  updateItemCount();
});
</script>

<style scoped>
.badge {
  font-size: 0.9rem;
}
</style>
