<template>
  <div class="d-flex justify-content-center small text-warning mb-2">
    <div v-for="n in normalizedStars" :key="n" class="bi-star-fill"></div>
  </div>
</template>

<script setup>
import { defineProps, computed } from 'vue';

const props = defineProps({
  stars: {
    type: Number,
    default: 5,
  },
});

// Вычисляемое свойство для нормализации количества звезд
const normalizedStars = computed(() => {
  return !Number.isFinite(props.stars) || props.stars < 0
      ? 0
      : Math.min(Math.round(props.stars), 5);
});
</script>
