<script setup>
import { ref, onMounted } from 'vue';
import CatalogSection from './components/CatalogSection.vue';

const products = ref([]);
const isLoading = ref(true);

const applyRandomDiscounts = (products) => {
  return products.map(product => {
    if (Math.random() < 0.5) { 
      product.oldPrice = product.price;
      product.price = +(product.price * 0.9).toFixed(2); 
      product.isOnSale = true;
    } else {
      product.isOnSale = false;
    }
    product.rating = Math.round(product.rating) 
    return product;
  });
};

onMounted(async () => {
  try {
    const response = await fetch('https://fakestoreapi.com/products');
    let data = await response.json();
    data = applyRandomDiscounts(data);
    products.value = data;
  } catch (error) {
    console.error('Failed to fetch products:', error);
  } finally {
    isLoading.value = false;
  }
});
</script>

<template>
  <CatalogSection :products="products" :isLoading="isLoading" />
</template>
